 .container {
     width: 400px;
     height: 400px;
     background-color: lightgrey;
     margin: 150px auto;
 }
 input[type="text"] {
     width: 300px;
     height: 20px;
     border-radius: 6px;
     margin-bottom: 10px;
     padding-left: 10px;
     box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5)
 }
 input[type="submit"] {
     color: white;
     background-color: cornflowerblue;
     border-radius: 6px;
     padding: 5px 20px;
 }